body {
	background:rgb(13, 9, 220);
}

.login_div1,
.login_div2 {
	background: rgb(255, 123, 0);
	padding: 10px;
	float: none;
	border-radius: 15px;
}

#player1_name,
#player2_name {
	display: inline-block;
	margin-left: 20px;
}

#word {
	width: 60%;
}

#word_display {
	letter-spacing: 5px;
}

#output {
	background: rgb(255, 145, 0);
	border-radius: 10px;
	border-top: 10px solid #0006a8;
	padding: 10px;
	float: none;
	text-align: left;
}